<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="logo-footer">
                <img src="/assets/images/logo.png" width="100" alt="logo"> <!-- Adjust path as needed -->
            </div>
            <p class="logo-footer-desc">Your Window to Earthquake Insights!</p>
        </div>
        <div class="col-lg-6">
            <div class="row footer-lists">
                <div class="col-lg-4">
                    <h5>About</h5>
                    <p><a href="#">How it works</a></p>
                    <p><a href="#">Featured</a></p>
                    <p><a href="#">Partnership</a></p>
                    <p><a href="#">Business Relation</a></p>
                </div>
                <div class="col-lg-4">
                    <h5>Community</h5>
                    <p><a href="#">Events</a></p>
                    <p><a href="#">Blog</a></p>
                    <p><a href="#">Podcast</a></p>
                    <p><a href="#">Invite a friend</a></p>
                </div>
                <div class="col-lg-4">
                    <h5>Socials</h5>
                    <p><a href="#">Discord</a></p>
                    <p><a href="#">Instagram</a></p>
                    <p><a href="#">Twitter</a></p>
                    <p><a href="#">Facebook</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            ©2024 SHAKEY. All rights reserved
        </div>
        <div class="col-lg-2">
            Privacy & Policy
        </div>
        <div class="col-lg-2">
            Terms & Condition
        </div>
    </div>
</footer>
